// Colors
$white: #fff;
$black: #000;
$base-text-color: #000;
$body-color: #fff;

// Sizes
$base-font-size: 16px;
$content-size: 1240px;

// MediaPoints
$tablet-size: 1180px;
$phone-size: 769px;

// Fonts
$base-font-family: "Pacifico-Regular", "Arial", sans-serif;
