// Colors
:root {
   --text-color: #6c757d;
}

// Sizes
$base-font-size: 16px;
$content-size: 1240px;

// MediaPoints
$tablet-size: 1180px;
$phone-size: 769px;

// Fonts
$base-font-family: "Nunito Sans", sans-serif;
