// Colors
$white: #ffffff;
$black: #000000;
$base-text-color: #000000;
$body-color: #ffffff;


// Sizes
$base-font-size: 16px;
$content-size: 1240px;

// MediaPoints
$tablet-size: 1180px;
$phone-size: 769px;

// Fonts
$base-font-family: "Pacifico",
"Arial",
sans-serif;