.image {
  &__container > * {
    margin: 5px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  * > {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.class {
  font-size: 22px;
  line-height: 14px;

  @media screen and (max-width: $phone) {
    display: block;
    font-size: 10px;
  }

  @media screen and (max-width: $tablet) {
    display: block;
    font-size: 10px;
  }
}
